* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, a, a:active {
  color: #232323;
  font-family: "Gilroy-Regular";
  text-decoration: none;
  overflow-x: hiiden;
  transition: all 0.4s ease;
}
a:hover {
  color: #27AE60;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
}
.header {
  padding-bottom:  22px;
}
.logo {
  position: absolute;
}
.nav-menu {
  margin-top: 35px;
  margin-left: -30px;
}
.nav-list {
  display: flex;
}
.nav-item:first-child {
  padding-left: 0;
}
.nav-item:not(:first-child):before {
  content: '';  
  border: 1px dashed #E0E0E0;
  margin-right: 26px;
  margin-left: 22px;
}
.nav-link {
  font-family: "Gilroy-Semibold";
  font-size: 14px;
  line-height: 17px;
}
.link-group {
  margin-top: 24px;
}
.link {
  cursor: pointer;
}
.link-group {
  display: flex;
}
.primary-link {
  background: #27AE60;
  box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.2);
  border-radius: 4px;
  border: none;
  color: #fff;
}
.primary-link:hover {
  color: #fff;
  background-color: #1d8749;
}
.user-link {
  font-family: "Gilroy-Semibold";
  padding: 11px 17px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
}
.user-icon {
  margin-right: 7px;
}
.cart-link {
  background: transparent;
  border: none;
  margin-left: 30px;
  display: flex;
  position: relative;
}
.products-num {
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  background-color: #27AE60;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: 3px;
  right: -6px;
}
.section-yellow {
  background: url('/images/img/banner-background.png') no-repeat center;
  padding-top: 55px;
  padding-bottom: 62px;
}
.banner-title {
  font-family: "Gilroy-Extrabold";
  font-size: 72px;
  line-height: 88px;
  min-width: 110%;
}
.banner-subtitle {
  font-family: "Gilroy-Bold";
  font-size: 30px;
  line-height: 36px;
  margin-top: 8px;
}
.banner-text {
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
  max-width: 90%;
}
.banner-link {
  display: flex;
  justify-content: center;
  font-family: "Gilroy-Bold";
  width: 220px;
  margin-top: 39px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
}
.swiper-catalog-img {
  max-width: 100%;
}
.swiper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 57%;
  bottom: 12%;
  z-index: 99;
  max-width: 70px;
  border: 1px solid #fff;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 36px;
}
.swiper-button-prev {
  display: flex;
  left: 0;
  position: relative;
  margin-top: 0;
}
.swiper-button-prev:after {
  content: " ";
  background: url('/images/img/arrow.svg') no-repeat;
  height: 16px; 
  width: 8px;
}
.swiper-button-next {
  display: flex;
  right: 0px;
  top: -1px;
  position: relative;
  margin-top: 0;
}
.swiper-button-next:after {
  content: " ";
  background: url('/images/img/arrow.svg') no-repeat;
  height: 16px; 
  width: 8px;
  transform: rotate(180deg);
}
.bread {
  padding-top: 26px;
  padding-bottom: 26px;
}
.bread-ul {
  display: flex;
}
.bread-li {
  position: relative;
  margin-right: 20px;
}
.bread-li:last-child {
  margin-right: 0;
}
.bread-a {
  font-size: 13px;
  line-height: 15px;
}
.bread-a::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -14px;
  width: 8px;
  height: 1px;
  background-color: #9a9a9a;
}
.grey {
  font-size: 13px;
  line-height: 15px;
  color: #9A9A9A;
}
.catalog-products {
  margin-bottom: 109px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 16px 18px;
  background: #FFFFFF;
  border: 1px solid #EDD6BF;
  border-radius: 2px;
  margin-bottom: 4px;
}
.sidebar-item-text {
  margin-left: 18px;
}
.catalog-card {
  display: flex;
  flex-direction: column; 
  height: 100%;
}
.catalog-card-header {
  background: #FFFAF4;
  border-radius: 2px;
  padding: 41px 58px 30px 59px;
}
.catalog-card-title {
  font-family: "Gilroy-Bold";
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  line-height: 37px;
}
.catalog-card-text {
  text-align: center;
  margin: auto;
  margin-top: 9px;
  margin-top: 6px;
  max-width: 100%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 19px;
}
.catalog-card-link {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 90%;
  width: 180px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gilroy-Semibold";
}
.card-link-wrapper {
  margin-top: auto;
}
.footer {
  background:url("/images/img/banner-background.png") no-repeat center;
}
.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-logo-text {
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy-Bold";
  margin-top: 19px;
}
.footer-information {
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
}
.information:before {
  content: attr(label);
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.information {
  margin-left: 1rem;
  list-style: none;
}
.information-item {
  margin-top: 10px;
}
.information-link {
  font-size: 14px;
  line-height: 18px;
}
.law-information:before {
  content: attr(label);
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.social-media {
  margin-left: 1.5rem;
}
.social-title {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.social-media-links {
  display: block;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
}
.social-media-link {
  margin-top: 9px;
}
.social-media-link {
  margin-right: 8px;
}
.phone-title {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
  margin-left: 3.2rem;
}
.phone-nums {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}
.phone-num {
  font-size: 14px;
  line-height: 18px;
}
.phone-link {
  display: flex;
  justify-content: center;
  width: 140px;
  margin-top: 15px;
  margin-left: 3.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  font-family: "Gilroy-Semibold";
}
.bank-cards {
  margin-top: 23px;
  margin-left: 3.2rem;
}
.footer-line {
  border: 1px solid #EDD6BF;
}
.copyright {
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}
.copyright-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Gilroy-Light";
}
.made-by-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Gilroy-Light";
}
.devarto-link {
  color: #27AE60;
  font-family: "Gilroy-Semibold";
}