* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, a, a:active {
  color: #232323;
  font-family: "Gilroy-Regular";
  text-decoration: none;
  transition: all 0.4s ease;
}
ul, ol {
  list-style: none;
}
a:hover {
  color: #27AE60;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
.header {
  width: 100%;
  height: 90px;
}
.header-fixed {
  width: 100%;
  z-index: 100;
  position: relative;
  background-color: #fff;
}
.header-fixed.active {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 4px #ededed;
}
.header-fixed.active .logo-image {
  height: 85px;
}
.header-burger {
  display: none;
  cursor: pointer;
}
.burger-menu {
  display: none;
}
.logo-image {
  position: absolute;
  transition: all 0.4s ease;
  height: 130px;
}
.nav-menu {
  margin-top: 35px;
  margin-left: -30px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-item:first-child {
  padding-left: 0;
}
.nav-item:not(:first-child):before {
  content: '';  
  border: 1px dashed #E0E0E0;
  margin-right: 22px;
  margin-left: 22px;
}
.nav-link {
  font-family: "Gilroy-Semibold";
  font-size: 14px;
  line-height: 17px;
}
.link-group {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
}
.link {
  cursor: pointer;
}
.primary-link {
  background: #27AE60;
  box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.2);
  border-radius: 4px;
  border: none;
  color: #fff;
}
.primary-link:hover {
  color: #fff;
  background-color: #1d8749;
}
.user-link {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Gilroy-Semibold";
  width: 100px;
  min-height: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  border-radius: 4px;
}
.cart-link {
  background: transparent;
  border: none;
  display: flex;
  position: relative;
}
.user-icon {
  margin-right: 6px;
}
.products-num {
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  background-color: #27AE60;
  border-radius: 50%;
  padding: 4px 7px;
  position: absolute;
  top: -4px;
  right: -6px;
}
.section-yellow {
  background: url('/images/img/banner-background.png') no-repeat center/cover;
  padding-top: 156px;
  padding-bottom: 106px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.second-section-yellow {
  background: url('/images/img/banner-background.png') no-repeat center/cover;
  padding-top: 123px;
  padding-bottom: 120px;
}
.product-yellow {
  height: 84px;
  padding-top: 0;
  padding-bottom: 0;
}
.catalog-yellow {
  padding-top: 55px;
  padding-bottom: 62px;
}
.catalog-products {
  margin-bottom: 109px;
}
.bread {
  padding-top: 22px;
  padding-bottom: 36px;
}
.ct-bread {
  padding-bottom: 28px;
}
.bread-ul {
  display: flex;
}
.bread-li {
  position: relative;
  margin-right: 20px;
}
.bread-li:last-child {
  margin-right: 0;
}
.bread-a {
  font-size: 13px;
  line-height: 15px;
}
.bread-a::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -14px;
  width: 8px;
  height: 1px;
  background-color: #9a9a9a;
}
.grey {
  font-size: 13px;
  line-height: 15px;
  color: #9A9A9A;
}
.banner-title {
  font-family: "Gilroy-Extrabold";
  font-size: 72px;
  line-height: 88px;
  min-width: 110%;
}
.banner-subtitle {
  font-family: "Gilroy-Bold";
  font-size: 30px;
  line-height: 36px;
  margin-top: 8px;
}
.banner-text {
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
  max-width: 90%;
}
.banner-cards {
  margin-top: 22px;
  display: flex;
}
.banner-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
.banner-card:first-child {
  margin-left: 0;
}
.banner-card-icon {
  flex-basis: 1;
}
.banner-card-text {
  margin-top: 10px;
  font-family: "Gilroy-Semibold";
}
.banner-link {
  display: flex;
  justify-content: center;
  font-family: "Gilroy-Bold";
  width: 220px;
  margin-top: 39px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
}
.banner-slider-image {
  max-width: 95%;
}
.swiper-slide {
  margin-left: 3px;
}
.swiper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 57%;
  bottom: 12%;
  z-index: 99;
  max-width: 70px;
  border: 1px solid #fff;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 36px;
}
.swiper-button-prev {
  display: flex;
  left: 0;
  position: relative;
  margin-top: 0;
}
.swiper-button-prev:after {
  content: " ";
  background: url('/images/img/arrow.svg') no-repeat;
  height: 16px; 
  width: 8px;
}
.swiper-button-next {
  display: flex;
  right: 0px;
  top: -1px;
  position: relative;
  margin-top: 0;
}
.swiper-button-next:after {
  content: " ";
  background: url('/images/img/arrow.svg') no-repeat;
  height: 16px; 
  width: 8px;
  transform: rotate(180deg);
}
.sidebar-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.sidebar-btn:hover {
  color: #27ae60;
  transition: all 0.4s ease;
}
.price-arrow-active,
.search-arrow-active {
  transform: rotate(90deg) !important;
  transition: all 0.4s ease;
}
.sidebar-box {
  display: flex;
  flex-direction: column;
  background: #FFFAF4;
  margin-bottom: 20px;
}
.sidebar-search {
  padding: 19px 20px 15px 20px;
}
.sidebar-price {
  padding: 19px 20px 24px 21px;
}
.sidebar-arrow {
  transform: rotate(270deg);
  padding: 5px;
}
.sidebar-line {
  border: 1px solid #EDD6BF;
  margin-top: 19px;
}
.price-input-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.price-input-devider {
  margin-left: 10px;
  margin-right: 10px;
  color: #434343;
  opacity: 0.5;
}
.price-input-label {
  display: flex;
  align-items: center;
  width: 150px;
  height: 48px;
  padding: 0 16px;
  opacity: 0.5;
  border: 1px solid #EDD6BF;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;
}
.price-input {
  width: 100%;
  border: none;
  outline: none;
  color: #434343;
  padding: 0 10px;
  font-size: 13px;
  line-height: 15px;
}
.price-input-text {
  font-size: 13px;
  line-height: 15px;
  color: #434343;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.noUi-target {
  border: none;
  border-radius: 4px;
  background: #EDD6BF;
  height: 5px;
  margin-top: 23px;
  max-width: 315px;
}
.noUi-connect {
  background: #109347;
}
.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  border: 5px solid #109347;
  cursor: pointer;
}
.noUi-horizontal .noUi-handle {
  width: 17px;
  height: 17px;
  right: -10px;
}
.noUi-handle::after, 
.noUi-handle::before {
  display: none;
}
.filter-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 18px;
}
.sidebar-text {
  font-size: 15px;
  line-height: 18px;
  font-family: "Gilroy-Bold";
}
.sidebar-form {
  position: relative;
  display: none;
}
.search-input {
  margin-top: 15px;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  padding: 15px 12px  15px 16px;
  opacity: 0.5;
}
.search-icon {
  top: 29px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 16px 18px;
  background: #FFFFFF;
  border: 1px solid #EDD6BF;
  border-radius: 2px;
  margin-bottom: 4px;
}
.sidebar-item-text {
  margin-left: 18px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy-Semibold";
}
.brands {
  padding-top: 30px;
}
.brand-title {
  font-family: "Gilroy-Extrabold";
  font-size: 36px;
  line-height: 44px;
  margin-top: 35px;
  text-align: center;
}
.brand-cards {
  display: flex;
}
.catalog-page-title {
  font-size: 36px;
  line-height: 44px;
  font-family: "Gilroy-Extrabold";
  margin-bottom: 40px;
}
.catalog-cards {
  padding-bottom: 99px;
}
.catalog-card {
  display: flex;
  flex-direction: column; 
  height: calc(100% - 20px);
  margin-bottom: 20px;
}
.brand-card {
  display: flex;
  flex-direction: column; 
  height: calc(100% - 30px);
  margin-bottom: 30px;
}
.brand-card-header {
  background: #FFFAF4;
  border-radius: 2px;
  padding: 41px 58px 30px 59px;
}
.catalog-card-header {
  background: #FFFAF4;
  border-radius: 2px;
  padding: 41px 58px 30px 59px;
}
.catalog-card-title {
  font-family: "Gilroy-Extrabold";
  text-align: center;
  margin-top: 30px;
  font-size: 26px;
  line-height: 32px;
}
.catalog-card-text {
  text-align: center;
  margin: auto;
  margin-top: 9px;
  margin-top: 6px;
  max-width: 100%;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 19px;
}
.catalog-card-link {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 90%;
  width: 180px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gilroy-Semibold";
}
.brand-card-title {
  font-family: "Gilroy-Bold";
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  line-height: 37px;
}
.brand-card-text {
  text-align: center;
  margin: auto;
  margin-top: 9px;
  margin-top: 6px;
  max-width: 66%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 19px;
}
.brand-card-wrapper {
  margin-top: auto;
}
.brand-cards-benefits {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 28px;
}
.brand-card-benefit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 121px;
}
.card-benefit-image {
  margin: auto;
}
.brand-icon-text {
  margin-top: 9px;
  text-align: center;
}
.brand-card-link {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 180px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gilroy-Semibold";
}
.cart-table {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.cart-title {
  font-size: 36px;
  font-family: "Gilroy-Extrabold";
  margin-bottom: 30px;
}
.cart-info-title {
  font-family: "Gilroy-Bold";
  font-size: 18px;
}
.cart-info-text {
  font-size: 12px;
  font-family: "Gilroy-Light";
}
.cart-price-num,
.cart-price-symbol {
  font-family: "Gilroy-Bold";
  font-size: 18px;
}
.buy-link.ct-link {
  width: 100%;
}
.cart-amount {
  max-width: 65%;
}
.cart-num {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: "Roboto-Light";
}
.cancel-btn {
  width: 25px;
  border: none;
  background: none;
  cursor: pointer;
}
.table {
  border: 1px solid #eceeef;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  background-color: transparent;
  font-size: 18px;
}
.table td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #eceeef;
}
.order-num {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 12px;
}
.condition {
  font-size: 16px;
}
.condition-link {
  font-family: "Gilroy-Bold";
  color: #27ae60;
}
.condition-link:hover {
  color: #1d8749;
}
.total-box {
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.total-box-title {
  font-size: 18px;
  color: #27ae60;
  font-family: "Gilroy-Bold";
}
.total-box-num {
  margin-top: 20px;
}
.card-link-wrapper {
  margin-top: auto;
}
.promotion {
  margin-top: 120px;
  padding-bottom: 120px;
}
.promotion-title {
  font-size: 28px;
  line-height: 36px;
  font-family: "Gilroy-Extrabold";
  max-width: 83%;
}
.promotion-video {
  display: block;
}
.advantages-title {
  margin-top: 6px;
  font-size: 18px;
  line-height: 38px;
  color: #27AE60;
  font-family: "Gilroy-Bold";
}
.advantages-info {
  margin-top: 11px;
}
.advantage {
  display: flex;
  align-items: center;
}
.advantage:not(:first-child) {
  margin-top: 20px;
}
.advantage-text {
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
  max-width: 70%;
}
.products-title {
  text-align: center;
  font-family: "Gilroy-Extrabold";
  font-size: 36px;
  line-height: 44px;
}
.products {
  padding-top: 32px;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  margin-top: 20px;
}
.pr-product-card {
  padding-bottom: 80px;
}
.product-image-wrapper {
  background: #FFFAF4;
  border-radius: 2px;
  padding: 66px 83px;
}
.second-slider {
  margin-top: 6px;
}
.second-slider-item {
  margin-right: 10px;
  width: 0;
  max-width: 90%;
}
.slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
  opacity: 1;
}
.slick-list {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}
.slick-next {
  right: -10px;
}
.slick-next::before {
  content: " ";
  display: block;
  background: url('/images/img/slider-next.svg') no-repeat;
  height: 23px; 
  width: 25px;
}
.slick-prev {
  left: 5px;
}
.slick-prev::before {
  content: " ";
  display: block;
  background: url('/images/img/slider-prev.svg') no-repeat;
  height: 23px; 
  width: 25px;
}
.slick-track {
  display: flex;
}
.item-wrapper {
  padding: 18px 0px;
  background: #FFFAF4;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}
.second-slider .slick-current {
  border: 1px solid #27AE60;
}
.ct-product-card {
  margin-top: 0;
}
.product-card-content {
  display: flex;
  flex-direction: column;
}
.product-card-top {
  display: flex;
  justify-content: space-between;
}
.article {
  font-size: 15px;
  line-height: 16px;
  font-family: "Gilroy-Semibold";
}
.on-stock {
  font-size: 15px;
  line-height: 16px;
  color: #27AE60;
  font-family: "Gilroy-Semibold";
}
.product-card-header {
  background: #FFFAF4;
  border-radius: 2px;
  padding: 45px 48px;
}
.product-card-image {
  margin-left: auto;
  margin-right: auto;
}
.product-card-title {
  margin-top: 25px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy-Bold";
  text-align: center;
  max-width: 85%;
}
.pr-product-card-title {
  margin-top: 20px;
  font-size: 30px;
  line-height: 38px;
  font-family: "Gilroy-Extrabold";
}
.pr-product-card-text {
  margin-top: 12px;
  font-size: 16px;
  line-height: 28px;
}
.product-wrapper {
  margin-top: auto;
}
.ct-product-wrapper {
  margin-bottom: 50px;
}
.link-form {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
}
.referral-link-title {
  font-size: 16px;
  line-height: 16px;
  font-family: "Gilroy-Bold";
}
.copy-text {
  display: flex;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #DADCE0;
  min-width: 100%;
  margin-top: 12px;
}
.referral-link {
  min-width: 100%;
  padding-left: 13px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #434343;
  opacity: 0.5;
  border: none;
  font-size: 12px;
  line-height: 14px;
  outline: none;
}
.copy-icon {
  position: absolute;
  border: none;
  background: transparent;
  outline: none;
  right: 11px;
  top: 44px;
  cursor: pointer;
}
.copy-icon:before {
  content: "Скопировано";
  position: absolute;
  background: #27ae60;
  border-radius: 20px;
  padding: 8px 10px;
  top: -50px;
  right: -43px;
  font-size: 15px;
  color: #fff;
  font-family: "Gilroy-Semibold";
  display: none;
}
.copy-icon:after {
  content: "";
  position: absolute;
  background: #27ae60;
  width: 10px;
  height: 10px;
  top: -22px;
  right: 7px;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active .copy-icon:after,
.copy-text.active .copy-icon:before {
  display: block;
}
.product-dropdown {
  display: flex;
  margin-top: 18px;
  position: relative;
}
.dropdown-title {
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Gilroy-Bold";
}
.select {
  appearance: none;
  min-width: 100%;
  cursor: pointer;
  border: 1px solid #DADCE0;
  border-radius: 2px;
  background: #fff;
  padding: 13px;
  opacity: 0.5;
  font-size: 12px;
  line-height: 14px;
  color: #434343;
  font-family: "Roboto-Light";
}
.pr-select {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 13px;
}
.product-dropdown:after {
  content: ">";
  color: #27AE60;
  right: 1rem;
  top: 0.7rem;
  position: absolute;
  transform: matrix(0, 1, 1.7, 0, 0, 0);
  pointer-events: none;
}
.pr-product-dropdown:after {
  right: 20px;
  top: 18px;
}
.product-buy {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: space-between;
}
.pr-product-buy {
  justify-content: space-between;
}
.product-value {
  display: flex;
  flex-direction: column;
}
.price-text, .price, .weight, .value-text {
  font-size: 16px;
  line-height: 24px;
}
.price-text {
  margin-right: 5px;
}
.price, .weight {
  font-family: "Gilroy-Bold";
}
.buy-form {
  display: flex; 
  margin-left: 25px;
}
.pr-buy-form {
  margin-left: 0;
}
.amount {
  border: 1px solid #EDD6BF;
  border-radius: 2px;
  padding: 17px 10px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
  display: none;
}
.pr-amount {
  margin-right: 35px;
}
.cart-amount {
  display: flex;
  justify-content: space-evenly;
  margin-right: 0;
  padding: 17px 0px;
}
.num {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  opacity: 0.5;
  font-family: "Roboto-Light";
}
.minus {
  display: flex;
  cursor: pointer;
  margin-right: 7px;
}
.minus.pr {
  margin-right: 0;
  padding: 3px;
}
.plus {
  display: flex;
  cursor: pointer;
  margin-left: 7px;
}
.plus.pr {
  margin-left: 0;
  padding: 3px;
}
.buy-link {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 130px;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 18px;
}
.pr-buy-link {
  width: 160px;
}
.business {
  margin-top: 120px;
}
.business-content {
  margin-left: 32px;
}
.business-title {
  font-size: 28px;
  line-height: 36px;
  font-family: "Gilroy-Extrabold";
}
.business-text {
  margin-top: 9px;
  font-size: 16px;
  line-height: 24px;
}
.business-tips {
  margin-top: 24px;
}
.business-tip {
  display: flex;
}
.business-tip-icon {
  flex: 0 0 40px;
}
.business-tip:not(:first-child) {
  margin-top: 20px;
}
.tip-text {
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy-Light";
}
.success {
  margin-top: 120px;
}
.success-title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  font-family: "Gilroy-Extrabold";
}
.success-cards {
  display: flex;
  margin-top: 30px;
}
.success-card {
  background-color: #fff;
  display: flex;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}
.success-text {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  z-index: 2;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 28px;
  font-family: "Gilroy-Medium";
}
.success-card-img {
  margin-left: 33px;
  flex: 0 0 45px;
}
.success-card-num {
  z-index: 1;
  color: #27AE60;
  opacity: 0.1;
  font-size: 60px;
  line-height: 26px;
  font-family: "Gilroy-Extrabold";
  position: absolute;
  bottom: 28px;
  right: 20px;
  margin-right: 20px;
}
.success-link {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gilroy-Bold";
}
.reliability {
  padding-top: 120px;
  padding-bottom: 121px;
}
.reliability-title {
  font-size: 36px;
  line-height: 44px;
  font-family: "Gilroy-Extrabold";
  text-align: center;
  margin: auto;
  max-width: 65%;
}
.reliability-subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: auto;
  max-width: 59%;
  margin-top: 17px;
}
.reliability-cards {
  margin-top: 43px;
}
.reliability-card {
  border: 1px solid #EDD6BF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  min-height: 120px;
  margin-top: 26px;
}
.reliability-card-left {
  padding-left: 37px;
  padding-right: 28px;
}
.reliability-card-right {
  padding-left: 28px;
  padding-right: 37px;
}
.reliability-text {
  font-size: 16px;
  line-height: 24px;
}
.reliability-card-left .reliability-card-text {
  text-align: right;
  margin-right: 22px;
}
.reliability-card-right .reliability-card-text {
  margin-left: 22px;
}
.logo-lg {
  display: flex;
  margin: auto;
}
.reliability-link {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 180px;
  margin: auto;
  margin-top: 30px;
}
.news-title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  font-family: "Gilroy-Extrabold";
}
.news-cards {
  padding-top: 30px;
  padding-bottom: 130px;
}
.news-date {
  font-size: 13px;
  line-height: 13px;
  margin-top: 22px;
  font-family: "Gilroy-Light";
}
.news-text {
  font-size: 18px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
  margin-top: 12px;
}
.news-link {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 41px;
  width: 180px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gilroy-Bold";
}
.information-title {
  font-size: 20px;
  line-height: 30px;
  font-family: "Gilroy-Bold";
}
.information-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy-Light";
}
.methods {
  padding-top: 41px;
}
.methods-cards {
  display: flex;
  align-items: center;
  margin-top: 13px;
}
.method-card:not(:last-child) {
  margin-right: 10px;
}
.method-card {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  margin-top: 20px;
}
.method-text {
  text-align: center;
  margin-top: auto;
  font-size: 13px;
  line-height: 16px;
  font-family: "Gilroy-Semibold";
}
.history {
  padding-top: 41px;
  padding-bottom: 100px;
}
.pages-menu {
  display: flex;
  margin: auto;
  justify-content: center;
}
.page-box {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  width: 48px;
  border: 1px solid #EDD6BF;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  margin-top: 50px;
}
.page-box-arrow-next {
  transform: rotate(180deg);
}
.dots {
  cursor: default;
}
.active-page {
  background: #27AE60;
  color: #fff;
}
.dots {
  border: none;
}
.arrow-next {
  transform: rotate(180deg);
}
.footer {
  background:url("/images/img/banner-background.png") no-repeat center;
  padding-top: 50px;
}
.footer-logo-text {
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy-Bold";
  margin-top: 19px;
}
.footer-information {
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
}
.information:before {
  content: attr(label);
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.information {
  margin-left: 1rem;
  list-style: none;
}
.information-item {
  margin-top: 10px;
}
.information-link {
  font-size: 14px;
  line-height: 18px;
}
.law-information:before {
  content: attr(label);
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.social-media {
  margin-left: 1.5rem;
}
.social-title {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.social-media-links {
  display: block;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
}
.social-media-link {
  margin-top: 9px;
}
.social-media-link {
  margin-right: 8px;
}
.phone-title {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
  margin-left: 3.2rem;
}
.phone-nums {
  margin-top: 5px;
  display: flex;
  margin-left: 52px;
}
.phone-num:last-child {
  margin-left: 5px;
}
.phone-num {
  font-size: 14px;
  line-height: 18px;
}
.phone-link {
  display: flex;
  justify-content: center;
  width: 140px;
  margin-top: 15px;
  margin-left: 3.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  font-family: "Gilroy-Semibold";
}
.bank-cards {
  margin-top: 23px;
  margin-left: 3.2rem;
}
.footer-line {
  border: 1px solid #EDD6BF;
  margin-top: 49px;
}
.copyright {
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}
.copyright-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Gilroy-Light";
}
.made-by-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Gilroy-Light";
  margin-right: 8px;
}
.devarto-link {
  color: #27AE60;
  font-family: "Gilroy-Semibold";
}

/* Media */

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1200px;
  }
  .promotion-video-image {
    max-width: 100%;
  }
  .business-image {
    max-width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .nav-item:not(:first-child):before {
    margin-right: 18px;
    margin-left: 18px;
  }
  .user-link {
    max-width: 80px;
  }
  .cart-link {
    margin-right: 10px;
  }
  .section-yellow {
    padding-top: 90px;
  }
  .banner-title {
    font-size: 56px;
    line-height: 60px;
  }
  .banner-text {
    font-size: 17px;
    margin-top: 10px;
  }
  .banner-card-text {
    font-size: 14px;
  }
  .banner-link {
    margin-top: 20px;
  }
  .brand-title {
    font-size: 28px;
  }
  .brand-card-image {
    max-width: 100%;
  }
  .brand-card-title {
    margin-top: 20px;
    font-size: 25px;
  }
  .brand-card-text {
    max-width: 85%;
    font-size: 17px;
  }
  .item-wrapper {
    display: flex;
    justify-content: center;
  }
  .brand-icon-text {
    font-size: 14px;
  }
  .catalog-card-image {
    max-width: 100%;
  }
  .pr-product-card-title {
    font-size: 28px;
  }
  .promotion {
    padding-bottom: 80px;
  }
  .promotion-video-img {
    max-width: 100%;
  }
  .promotion-title {
    font-size: 23px;
    max-width: 100%;
    line-height: 30px;
  }
  .advantages-title {
    font-size: 17px;
  }
  .advantage-text {
    font-size: 15px;
    max-width: 85%;
  }
  .advantage:not(:first-child) {
  margin-top: 12px;
  }
  .products {
    padding-top: 20px;
  }
  .products-title {
  font-size: 28px;
  }
  .product-card-image {
    max-width: 100%;
  }
  .product-image {
    max-width: 100%;
  }
  .item-img {
    max-width: 100%;
  }
  .product-card-title {
    font-size: 17px;
  }
  .business {
    margin-top: 100px;
  }
  .business-image {
    max-width: 100%;
  }
  .business-title {
    font-size: 23px;
  }
  .business-tips {
    margin-top: 17px;
  }
  .business-text {
    font-size: 15px;
    line-height: 22px;
  }
  .tip-text {
    font-size: 15px;
    line-height: 20px;
  }
  .business-tip:not(:first-child) {
    margin-top: 15px;
  }
  .second-section-yellow {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .success-title {
    font-size: 28px;
  }
  .success-text {
    font-size: 14px;
    line-height: 18px;
    max-width: 70%;
    margin-left: 15px;
  }
  .success-card-img {
    margin-left: 15px;
  }
  .success-card-num {
    font-size: 50px;
  }
  .reliability-title {
    font-size: 28px;
  }
  .reliability {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .reliability-subtitle {
    font-size: 17px;
    max-width: 66%;
  }
  .logo-lg {
    max-width: 50%;
  }
  .reliability-card {
    font-size: 15px;
  }
  .news-title {
    font-size: 28px;
  }
  .news-image {
    max-width: 100%;
  }
  .news-cards {
    padding-bottom: 80px;
  }
  .news-text {
    font-size: 17px;
  }
  .footer-information {
    margin-left: 0;
  }
  .social-media {
    margin-left: 0;
  }
  .phone-nums {
    flex-wrap: wrap;
  }
  .phone-num:last-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 991px) {
  .user-link {
    max-width: 40px;
  }
  .user-icon {
    margin: 0;
  }
  .user-link-text {
    display: none;
  }
  .nav-menu {
    margin-left: -23px;
  }
  .nav-link {
    font-size: 12px;
  }
  .nav-item:not(:first-child)::before {
    margin-right: 9px;
    margin-left: 9px;
  }
  .pr-product-card {
    padding-bottom: 60px;
  }
  .second-section-yellow.product-yellow {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pr-buy-link {
    width: 140px;
  }
  .information-text {
    font-size: 15px;
    line-height: 23px;
  }
  .price-text, .price, .weight, .value-text {
    font-size: 15px;
  }
  .history {
    padding-bottom: 65px;
  }
  .banner-title {
    font-size: 45px;
    line-height: 45px;
  }
  .banner-subtitle {
    font-size: 24px;
  }
  .banner-text {
    font-size: 16px;
    max-width: 100%;
  }
  .banner-card-text {
    font-size: 13px;
  }
  .banner-link {
    width: 180px;
  }
  .banner-slider-image {
    max-width: 95%;
  }
  .brand-card-text {
    font-size: 15px;
  }
  .brand-icon-text {
    font-size: 13px;
  }
  .primary-link {
    font-size: 13px;
  }
  .swiper-buttons {
    left: 56%;
    bottom: 43%;
  }
  .swiper-buttons.ct {
    left: 51%;
    bottom: 39%;
  }
  .sidebar-item-text {
    font-size: 15px;
  }
  .cart-title {
    font-size: 26px;
  }
  .cart-info-title {
    font-size: 16px;
  }
  .cart-img-link {
    display: block;
  }
  .cart-price-num, .cart-price-symbol {
    font-size: 16px;
  }
  .catalog-card-title {
    font-size: 22px;
  }
  .order-price-num {
    font-size: 16px;
  }
  .order-price-symbol {
    font-size: 16px;
  }
  .order-amount {
    font-size: 16px;
  }
  .total-box-title {
    font-size: 15px;
  }
  .condition {
    font-size: 14px;
  }
  .slick-prev {
    left: -2px;
  }
  .slick-next {
    right: -13px;
  }
  .pr-product-card-title {
    font-size: 23px;
    line-height: 30px;
  }
  .pr-product-card-text {
    line-height: 24px;
  }
  .article {
    font-size: 14px;
  }
  .on-stock {
    font-size: 14px;
  }
  .catalog-card-text {
    font-size: 15px;
    line-height: 25px;
  }
  .catalog-page-title {
    font-size: 30px;
  }
  .promotion {
    padding-bottom: 50px;
  }
  .promotion-video-img {
    max-width: 100%;
  }
  .advantages-title {
    font-size: 16px;
  }
  .advantage-text {
    font-size: 14px;
  }
  .products-title {
    font-size: 24px;
  }
  .price-input-group {
    flex-direction: column;
  }
  .product-card-header {
    display: flex;
    justify-content: center;
  }
  .business-content {
    margin-left: 5px;
  }
  .business-text {
    font-size: 14px;
    line-height: 20px;
  } 
  .business-image {
    max-width: 100%;
  }
  .tip-text {
    font-size: 14px;
    line-height: 18px;
  }
  .second-section-yellow {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .success {
    margin-top: 80px;
  }
  .success-title {
    font-size: 24px;
  }
  .success-text {
    margin-left: 10px;
    font-size: 13px;
    line-height: 16px;
    max-width: 65%;
  }
  .success-card-img {
    margin-left: 15px;
    flex: 0 0 40px;
  }
  .success-card-num {
    font-size: 45px;
  }
  .reliability {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .reliability-title {
    font-size: 23px;
    line-height: 30px;
  }
  .reliability-subtitle {
    font-size: 15px;
    max-width: 69%;
    margin-top: 10px;
    line-height: 24px;
  }
  .rel-card {
    margin-top: 60px;
  }
  .logo-lg {
    max-width: 40%;
  }
  .business-tip-icon {
    flex: 0 0 30px;
  }
  .reliability-card {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 29%;
  }
  .reliability-card-left .reliability-card-text {
    margin-right: 10px;
  }
  .news-title {
    font-size: 24px;
  }
  .news-text {
    font-size: 15px;
  }
  .phone-title {
    margin-left: 0;
  }
  .phone-nums {
    margin-left: 0;
  }
  .phone-link {
    margin-left: 0;
  }
  .bank-cards {
    margin-left: 0;
  }
  .footer-logo-text {
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
  }
  .information::before {
    font-size: 15px;
    line-height: 20px;
  }
  .information-item {
    margin-top: 9px;
  }
  .information-link {
    font-size: 14px;
    line-height: 10px;
  }
  .social-title {
    font-size: 15px;
    line-height: 20px;
  }
  .phone-title {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 70px;
  }
  .header-fixed.active {
    height: 70px;
  }
  .logo-image {
    height: 100px;
  }
  .header-fixed.active .logo-image {
    height: 68px;
  }
  body.lock {
    overflow: hidden;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header-burger span {
    position: absolute;
    background-color: #27AE60;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: #27AE60;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 0;
    margin-left: 0;
    padding: 12% 40% 0 40%;
    z-index: 3;
  }
  .nav-menu.active {
    display: block;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 25px;
    min-width: 150px;
    text-align: center;
  }
  .nav-link {
    font-size: 15px;
  }
  .nav-item:not(:first-child):before {
    display: none;
  }
  .header-burger:hover {
    transform: scale(1.2);
    transition: all 0.4s ease;
  }
  .link-group {
    margin-top: 20px;
  }
  .user-link-text {
    display: block;
  }
  .user-link {
    max-width: 80%;
    min-height: 35px;
  }
  .user-icon {
    margin-right: 5px;
  }
  .cart-link {
    margin-right: 0;
  }
  .spec-1 {
    order: 2;
  }
  .spec-2 {
    order: 1;
  }
  .methods-cards {
    flex-wrap: wrap;
  }
  .cart-img {
    max-width: 100%;
  }
  .cart-info-title {
    font-size: 14px;
  }
  .cart-price-num, .cart-price-symbol {
    font-size: 14px;
  }
  .cart-info-text {
    font-size: 11px;
  }
  .cancel-btn {
    width: 16px;
  }
  .cart-amount {
    min-width: 100%;
  }
  .product-wrapper {
    margin-bottom: 30px;
  }
  .banner-slider-image {
    max-width: 95%;
  }
  .banner-cards {
    display: none;
  }
  .banner-title {
    font-size: 33px;
    line-height: 25px;
  }
  .banner-subtitle {
    font-size: 20px;
  }
  .banner-text {
    font-size: 15px;
    line-height: 25px;
  }
  .banner-link {
    width: 150px;
  }
  .section-yellow {
    padding-bottom: 90px;
  }
  .sidebar {
    margin-bottom: 30px;
  }
  .catalog-card-header {
    display: flex;
    justify-content: center;
  }
  .catalog-card-text {
    max-width: 80%;
  }
  .price-input-group {
    flex-direction: row;
    justify-content: center;
  }
  .noUi-target {
    margin-right: auto;
    margin-left: auto;
  }
  .banner-link {
    width: 150px;
    line-height: 15px;
    padding-top: 14px;
    padding-bottom: 17px;
    font-size: 12px;
  }
  .swiper-buttons {
    height: 33px;
    width: 45px;
    left: 57%;
    bottom: 21%;
  }
  .swiper-button-prev {
    top: 3%;
  }
  .brand-card {
    height: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .brand-title {
    font-size: 26px;
  }
  .product-card-image {
    display: block;
  }
  .product-card-title {
    font-size: 20px;
  }
  .product-buy {
    justify-content: space-between;
  }
  .promotion {
    margin-top: 70px;
  }
  .promotion-video {
    margin-top: 30px;
  }
  .promotion-video-img {
    max-width: 100%;
  }
  .business-title {
    font-size: 25px;
  }
  .reliability {
    display: none;
  }
  .business-image {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .business-tip {
    display: flex;
    align-items: center;
  }
  .success-card {
    min-height: 0;
    max-height: 90%;
  }
  .success-text {
    max-width: 70%;
    margin-left: 20px;
  }
  .news {
    padding-top: 40px;
  }
  .news-date {
    margin-top: 12px;
    margin-left: 70px;
  }
  .news-text {
    margin-top: 5px;
    margin-left: 70px;
    max-width: 80%;
  }
  .news-cards {
    padding-bottom: 80px;
  }
  .news-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  .news-image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .news-link {
    margin-top: 10px;
  }
  .ft-center {
    display: flex;
    justify-content: center;
  }
  .footer {
    background-size: cover;
  }
  .footer-logo {
    margin-left: 0;
  }
  .footer-content {
    padding: 0;
  }
  .footer-logo-link {
    display: block;
    text-align: center;
  }
  .footer-logo-text {
    text-align: center;
    font-size: 16px;
  }
  .footer-information {
    display: flex;
    flex-direction: column;
  }
  .information {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  .information:before {
    text-align: center;
    display: block;
    font-size: 17px;
  }
  .law-information {
    margin-left: auto;
    margin-right: auto;
  }
  .information-item {
    text-align: center;
  }
  .information-link {
    font-size: 16px;
  }
  .social-media {
    margin-top: 20px;
  }
  .social-title {
    font-size: 17px;
  }
  .social-media-links {
    justify-content: center;
  }
  .phone {
    margin-top: 20px;
  }
  .phone-nums {
    display: flex;
    flex-direction: column;
  }
  .phone-title {
    text-align: center;
    font-size: 17px;
  }
  .phone-nums {
    text-align: center;
    margin-top: 10px;
  }
  .phone-num {
    font-size: 16px;
  }
  .phone-link {
    margin-left: auto;
    margin-right: auto;
  }
  .bank-cards {
    text-align: center;
  }
  .footer-line {
    margin-top: 40px;
  }
  .copyright {
    display: flex;
  }
  .made-by-text {
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 300px;
  }
  .user-link {
    font-size: 12px;
    max-width: 35%;
    margin-right: 5px;
  }
  .user-icon {
    margin: 0;
  }
  .user-link-text {
    display: none;
  }
  .products-num {
    font-size: 9px;
    line-height: 10px;
    padding: 3px 5px;
    top: -1px;
    right: -1px;
  }
  body.lock {
    overflow: hidden;
  }
  .nav-menu {
    padding: 21% 28% 0 28%;
  }
  .nav-item {
    margin-bottom: 20px;
  }
  .nav-link {
    font-size: 14px;
  }
  .header-burger {
    width: 25px;
    height: 20px;
    margin-left: 5px;
  }
  .banner-slider {
    display: none;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-subtitle {
    font-size: 18px;
  }
  .banner-text {
    font-size: 14px;
  }
  .catalog-page-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .pr-product-card-title {
    font-size: 21px;
  }
  .pr-product-card-text {
    font-size: 14px;
  }
  .referral-link {
    font-size: 11px;
  }
  .cart-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }
  .cart-info-title {
    text-align: center;
  }
  .cart-info-text {
    text-align: center;
  }
  .cart-amount {
    min-width: 0;
    max-width: 100%;
    padding: 14px 0px;
    margin-top: 17px;
  }
  .cancel-btn {
    display: none;
  }
  .cart-price {
    margin-top: 30px;
  }
  .total-price {
    margin-top: 30px;
  }
  .price {
    font-size: 14px;
  }
  .price-text, .price, .weight, .value-text {
    font-size: 14px;
  }
  .pr-buy-link.buy-link.primary-link {
    width: 100px;
  }
  .slick-list {
    max-width: 100%;
  }
  .information-title {
    font-size: 19px;
  }
  .information-text {
    font-size: 14px;
    line-height: 22px;
  }
  .information-title {
    font-size: 18px;
    line-height: 24px;
  }
  .methods {
    padding-top: 30px;
  }
  .price-input {
    padding: 0 5px;
  }
  .swiper-buttons {
    display: none;
  }
  .brand-icon-text {
    font-size: 12px;
  }
  .brand-card-text {
    font-size: 14px;
  }
  .products {
    padding-top: 5px;
  }
  .product-card-title {
    font-size: 17px;
  }
  .catalog-card-text {
    max-width: 100%;
  }
  .advantage-text {
    font-size: 12px;
    line-height: 21px;
    margin-left: 13px;
  }
  .price-text {
    font-size: 14px;
  }
  .price {
    font-size: 14px;
  }
  .buy-link {
    width: 120px;
  }
  .advantage-icon {
    flex: 0 0 30px;
  }
  .promotion {
    margin-top: 40px;
  }
  .promotion-title {
    font-size: 21px;
  }
  .success-title {
    font-size: 20px;
  }
  .news-date {
    margin-left: 30px;
  }
  .news-text {
    margin-left: 30px;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright-text {
    font-size: 12px;
  }
  .made-by-text {
    font-size: 12px;
  }
}