* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, a, a:active {
  color: #232323;
  font-family: "Gilroy-Regular";
  text-decoration: none;
  overflow-x: hiiden;
  transition: all 0.4s ease;
}
a:hover {
  color: #27AE60;
}
ul {
  list-style: none;
}
.container {
  max-width: 1170px;
}
.header {
  padding-bottom:  22px;
}
.logo {
  position: absolute;
}

.nav-menu {
  margin-top: 35px;
  margin-left: -30px;
}
.nav-list {
  display: flex;
}
.nav-item:first-child {
  padding-left: 0;
}
.nav-item:not(:first-child):before {
  content: '';  
  border: 1px dashed #E0E0E0;
  margin-right: 26px;
  margin-left: 22px;
}
.nav-link {
  font-family: "Gilroy-Semibold";
  font-size: 14px;
  line-height: 17px;
}
.link-group {
  margin-top: 24px;
}
.link {
  cursor: pointer;
}
.link-group {
  display: flex;
}
.primary-link {
  background: #27AE60;
  box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.2);
  border-radius: 4px;
  border: none;
  color: #fff;
}
.primary-link:hover {
  color: #fff;
  background-color: #1d8749;
}
.user-link {
  font-family: "Gilroy-Semibold";
  padding: 11px 17px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
}
.user-icon {
  margin-right: 7px;
}
.cart-link {
  background: transparent;
  border: none;
  margin-left: 30px;
  display: flex;
  position: relative;
}
.products-num {
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  background-color: #27AE60;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: 3px;
  right: -6px;
}
.section-yellow {
  background: url('/images/img/banner-background.png') no-repeat center;
  height: 84px;
}
.bread {
  padding-top: 22px;
  padding-bottom: 36px;
}
.bread-ul {
  display: flex;
}
.bread-li {
  position: relative;
  margin-right: 20px;
}
.bread-li:last-child {
  margin-right: 0;
}
.bread-a {
  font-size: 13px;
  line-height: 15px;
}
.bread-a::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -14px;
  width: 8px;
  height: 1px;
  background-color: #9a9a9a;
}
.grey {
  font-size: 13px;
  line-height: 15px;
  color: #9A9A9A;
}
.product-card {
  padding-bottom: 80px;
}
.product-card-content {
  display: flex;
  flex-direction: column;
}
.product-card-top {
  display: flex;
  justify-content: space-between;
}
.article {
  font-size: 15px;
  line-height: 16px;
  font-family: "Gilroy-Semibold";
}
.on-stock {
  font-size: 15px;
  line-height: 16px;
  color: #27AE60;
  font-family: "Gilroy-Semibold";
}
.product-card-title {
  margin-top: 20px;
  font-size: 30px;
  line-height: 38px;
  font-family: "Gilroy-Extrabold";
}
.product-card-text {
  margin-top: 12px;
  font-size: 16px;
  line-height: 28px;
}
.product-wrapper {
  margin-top: auto;
}
.link-form {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
}
.referral-link-title {
  font-size: 16px;
  line-height: 16px;
  font-family: "Gilroy-Bold";
}
.referral-link {
  min-width: 100%;
  padding-left: 13px;
  margin-top: 12px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #434343;
  opacity: 0.5;
}
.copy-icon {
  position: absolute;
  right: 11px;
  top: 44px;
  cursor: pointer;
}
.dropdown-title {
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Gilroy-Bold";
}
.product-dropdown {
  display: flex;
  margin-top: 18px;
  position: relative;
}
.select {
  appearance: none;
  min-width: 100%;
  cursor: pointer;
  border: 1px solid #DADCE0;
  border-radius: 2px;
  background: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 13px;
  opacity: 0.5;
  font-size: 12px;
  line-height: 14px;
  color: #434343;
  font-family: "Roboto-Light";
}
.product-dropdown:after {
  content: ">";
  color: #27AE60;
  right: 20px;
  top: 18px;
  position: absolute;
  transform: matrix(0, 1, 1.7, 0, 0, 0);
  pointer-events: none;
}
.product-buy {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
}
.product-value {
  display: flex;
  flex-direction: column;
}
.value-text, .price, .weight {
  font-size: 16px;
  line-height: 24px;
}
.price, .weight {
  font-family: "Gilroy-Bold";
}
.amount {
  border: 1px solid #EDD6BF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 17px 10px;
}
.num {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  opacity: 0.5;
  font-family: "Roboto-Light";
}
.minus {
  display: flex;
  cursor: pointer;
  margin-right: 23px;
}
.plus {
  display: flex;
  cursor: pointer;
  margin-left: 23px;
}
.buy-link {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 160px;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 18px;
}
.information-title {
  font-size: 20px;
  line-height: 30px;
  font-family: "Gilroy-Bold";
}
.information-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy-Light";
}
.methods {
  padding-top: 41px;
}
.methods-cards {
  display: flex;
  align-items: center;
  margin-top: 13px;
}
.method-card:not(:last-child) {
  margin-right: 10px;
}
.method-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.method-icon {
  width: 86px;
  height: 86px;
}
.method-text {
  text-align: center;
  margin-top: auto;
  font-size: 13px;
  line-height: 16px;
  font-family: "Gilroy-Semibold";
}
.history {
  padding-top: 41px;
  padding-bottom: 100px;
}
.footer {
  background:url("/images/img/banner-background.png") no-repeat center;
}
.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-logo-text {
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy-Bold";
  margin-top: 19px;
}
.footer-information {
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
}
.information:before {
  content: attr(label);
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.information {
  margin-left: 1rem;
  list-style: none;
}
.information-item {
  margin-top: 10px;
}
.information-link {
  font-size: 14px;
  line-height: 18px;
}
.law-information:before {
  content: attr(label);
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.social-media {
  margin-left: 1.5rem;
}
.social-title {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
}
.social-media-links {
  display: block;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
}
.social-media-link {
  margin-top: 9px;
}
.social-media-link {
  margin-right: 8px;
}
.phone-title {
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy-Bold";
  margin-left: 3.2rem;
}
.phone-nums {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}
.phone-num {
  font-size: 14px;
  line-height: 18px;
}
.phone-link {
  display: flex;
  justify-content: center;
  width: 140px;
  margin-top: 15px;
  margin-left: 3.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  font-family: "Gilroy-Semibold";
}
.bank-cards {
  margin-top: 23px;
  margin-left: 3.2rem;
}
.footer-line {
  border: 1px solid #EDD6BF;
}
.copyright {
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}
.copyright-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Gilroy-Light";
}
.made-by-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Gilroy-Light";
}
.devarto-link {
  color: #27AE60;
  font-family: "Gilroy-Semibold";
}